.Copyrights{
    font-style: italic;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    margin-top: 50px;
    margin-bottom: 0px;
    text-align: center;
}